*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(76, 76, 126);
    font-family: monospace;
}
.navbar{
    background-image: linear-gradient(190deg, rgb(240, 223, 166), rgb(121, 127, 241));
    width: 80%;
    margin: 0% auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar a{
    margin: 50px;
    transition: all ease .7s;
    font-size: 20px;
    color: white;
}
a:hover{
    color: rgb(104, 100, 100);
}
.main-section{
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
    background-color: rgb(128, 124, 241);
    padding: 20px;
}
.search{
    margin: 0% auto;
    width: 600px;
    display: flex;
    justify-content: center;
}
.search input{
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 241, 241);
    font-size: 20px;
}
.search input:hover{
    background-color: rgb(240, 230, 230);
}
.search button{
    height: 50px;
    width: 100px;
    background-color: rgb(255, 152, 134);
    border: none;
    border-top-right-radius: 10px;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    color: white;
    transition: all ease .3s;
    font-size: 20px;
}
.search button:hover{
    background-color: rgb(250, 164, 149);
    font-size: 22px;
}
#foodsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
}
.food-items{
    width: 85%;
    cursor: pointer;
    margin: 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    color: rgb(90, 94, 90);
    box-shadow: 1px 1px 10px black;
}
.image img{
    width: 100%;
    transition: all .5s ease;
    border-radius: 10px;
}
.image img:hover{
    opacity: .7;
    width: 100.50%;
}
#food-details{
    color: black;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    margin: 20px auto;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
    display: none;
}
#food-details h2{
    font-weight: 900;
    font-size: 40px;
    margin-left: 8px;
}
#food-details h3{
    margin-left: 8px;
}
.detail-image{
    width: 400px;
}
.detail-image img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border: 1px;
}
.ingredient-list{
    list-style: square;
    position: relative;
    right: 12px;
}
.container{
    width: 100%;
    height: 370px;
}